################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Laba 1 Task 5/.vs/Laba 1 Task 5/v17/Browse.VC.opendb
